<!DOCTYPE html>
<html ng-app="app">
    
<head>
    <meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Daniel Gropp">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/images/main-icon.ico">
    <title>עֵץ מָּלֵא</title>
<!--    external stylesheets-->
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/style/advanced-slider.css">
<!--    custom stylesheets-->
    <link rel="stylesheet" href="assets/style/main.css">
	<link rel="stylesheet" href="assets/style/wood-description.css">
    <link rel="stylesheet" href="assets/style/advanced.css">
	<link rel="stylesheet" href="assets/style/search.css">
    <link rel="stylesheet" href="assets/style/database.css">
    <link rel="stylesheet" href="assets/style/home.css">
    <link rel="stylesheet" href="assets/style/media-queries.css">
    <link rel="stylesheet" href="assets/style/ng-animate.css">
    <link rel="stylesheet" href="assets/style/responsive.css">
</head>

<body ng-controller="mainCtrl as main">
    <header>
        <h1>עֵץ מָּלֵא</h1>
        <div>
            <h1>עֵץ מָּלֵא</h1>
            <nav>
                <h2 ng-click="main.classToggle('header','search-minimize')"> 
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </h2>
                <ul>
                    <li ng-click="main.goHome()">דף הבית</li>
                    <li ng-click="main.goAdvanced()">חיפוש מתקדם</li>
                    <li ng-click="main.goDatabase()">השוואת נתונים</li>
                    <li ng-click="main.goRandom()">ערך אקראי</li>
                </ul>
                <form id="search-bar">
                    <input type="search" ng-model="main.outcome" placeholder="חיפוש לפי שם עברי או לועזי" autofocus>
                    <button title="חיפוש" ng-click="main.goSearch(main.outcome)"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </nav>
            <h1 id="place-holder"></h1>
        </div>
    </header>
    
    <div class="ng-view">
        <ng-view></ng-view>
<!--        <ng-view></ng-view>-->
    </div>
    
    <footer>
        <div>
        <h2 ng-click="main.classToggle('footer','footer-minimize')"><i class="fa fa-chevron-up" aria-hidden="true"></i></h2>
            <p>
                &copy; <span class="bold">עֵץ מָּלֵא</span>, דניאל גרופ, 2017 / 
                <a ng-click="main.clipBoard()" title="העתקה ללוח"> dgropp@gmail.com</a>
                <input type="email" 
                       value="dgropp@gmail.com" 
                       id="copyMail" 
                       readonly>
                </input>
            </p>
            <p>תמונות העצים וחלק מהמידע נלקחו מ-<a href="http://www.wood-database.com/" target="_blank">The Wood Database</a></p>
            <p>רקעים נלקחו מ-<a href="https://www.pexels.com/" target="_blank">PEXELS</a></p>
        </div>
            
    </footer>
    	
<!--    angular library & directives-->
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-route/angular-route.js"></script>
    <script src="node_modules/angularjs-slider/dist/rzslider.js"></script>
<!--    angular configs-->
    <script src="app/config.js"></script>
    <script src="app/route.js"></script>
    <script src="app/service.js"></script>
<!--    angular controllers-->
    <script src="app/controllers/mainCtrl.js"></script>
    <script src="app/controllers/advancedCtrl.js"></script>
    <script src="app/controllers/advancedResultsCtrl.js"></script>
    <script src="app/controllers/databaseCtrl.js"></script>
    <script src="app/controllers/descriptionCtrl.js"></script>
    <script src="app/controllers/homeCtrl.js"></script>
    <script src="app/controllers/searchResultsCtrl.js"></script>
    
</body>
	
</html>