<h1 class="minimized-header">חיפוש מתקדם</h1>
<section class="slider-container">
    <div class="slider-repeat" ng-repeat="range in sliders">
        <h2>{{range.title}}</h2>
        <div class="sliders">
            <div class="slider-values">
                {{(range.stringValue) ? range.stringValue[range.maxValue] : range.maxValue+range.addition}}
            </div>
            <rzslider class="range-slider"
                  rz-slider-model="range.minValue"
                  rz-slider-high="range.maxValue"
                  rz-slider-options="range.options">
            </rzslider>
            <div class="slider-values">
                {{(range.stringValue) ? range.stringValue[range.minValue] : range.minValue+range.addition}}
            </div>
        </div>
    </div>
    <div class="checkbox">
        <input type="checkbox" name="steamBending" ng-model="steamBending"><span class="bold">ניתן לכיפוף באדים</span>
    </div>
    <button ng-click="checkAdvancedSearch()"><span class="bold">חיפוש <i class="fa fa-search" aria-hidden="true"></i></span></button>
</section>
